.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo2 {
  animation: App-logo-spin2 infinite 0.2s linear;
  height: 100px;
}

@keyframes App-logo-spin2 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(30deg) scale(1.5);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
